.menu{
	background-color: beige;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
	text-align: center;
	position: absolute;
	width: 600px;
	height: 550px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 24px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.restartGame {
	position: absolute;
	margin-left: 230px;
}